<% selected_navbar_item = @selected_navbar_item || "home" %>

<header class="<%= 'dark-navbar' if @dark_navbar %>">
  <div id="logo">
    <%= image_tag "v2/logo.png" %>
  </div>

  <%# TODO: Rewrite %>
  <% if selected_navbar_item == 'articles' %>
    <nav>
      <a href="/"><div>Головна</div></a>
      <a href="/#education"><div>Освіта</div></a>
      <a href="/#services"><div>Послуги</div></a>
      <a href="/articles" class="active"><div>Статті</div></a>
      <a href="/#contacts"><div>Контакти</div></a>
    </nav>
  <% else %>
    <nav>
      <a data-scroll-target-id="home" class="active"><div>Головна</div></a>
      <a data-scroll-target-id="education"><div>Освіта</div></a>
      <a data-scroll-target-id="services"><div>Послуги</div></a>
      <a href="/articles"><div>Статті</div></a>
      <a data-scroll-target-id="contacts"><div>Контакти</div></a>
    </nav>
  <% end %>

  <div class="toggle for-mobile">
    <i class="fa-solid fa-bars secondary-color"></i>
    <i class="fa-solid fa-xmark"></i>
  </div>
</header>
