/* @import url('https://fonts.googleapis.com/css2?family=Poppins:100,200,300,400,500,600,700;800,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root {
  --primary-color: rgb(105, 79, 63);
  --secondary-color: rgb(240, 237, 227);
  --font-color: var(--primary-color);
  --border-radius: 4px;
}

* {
  box-sizing: border-box;
  padding: 0; margin: 0;
  /* font-family: 'Poppins', sans-serif ; */
  font-family: "Merriweather", serif;
  color: var(--font-color);
}

body {
  overflow: hidden;
}

section {
  height: 100vh;
  width: 100vw;
  /* background-color: #21283a; */
  display: flex;
  /* align-items: center; */
  overflow: hidden;
  position: relative;
  background-color: var(--secondary-color);
}

/* section:before {
  position: absolute;
  content: '';
  width: 100%;
  background-image: url("../images/photo.jpg");
  background-size: auto 100%;
  background-position: right bottom;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 50%;
  right: 0;
} */

/* section.active:after {
  background-color: #21283a;
  box-shadow: 0 0 0 1200px #21283a;
  position: absolute;
  content: '';
  opacity: 0.9;
} */

/* section:before {
  position: absolute;
  top: 65%;
  right: 100px;
  transform: translateY(-50%);
  background-image: url("../images/photo.jpg");
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  content: '';
  width: 500px;
  height: 500px;
  border-radius: 50%;
  transition: 0.5s;
}

section:after {
  position: absolute;
  top: 60%;
  right: 315px;
  content: '';
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: 0 0 200px rgb(223, 178, 14), 0 0 20px rgb(223, 178, 14) inset;
  transform: scale(6);
  animation: pulse 6s infinite;
}

@keyframes pulse {
  0% {
      transform: scale(1);
      opacity: 0.3;
  }
  60% {
    transform: scale(8);
    box-shadow: 0 0 200px rgb(223, 178, 14), 0 0 20px rgb(223, 178, 14) inset;
    opacity: 0.7;
  } 
  90% {
      transform: scale(1);
      opacity: 0.3;
  }
  100% {
    transform: scale(1);
    opacity: 0.3;
  }
}*/



/* section.active:before {
  background-color: #21283a;
  box-shadow: 0 0 0 1200px #21283a;
} */

body.show-nav-bar section header .logo,
body.show-nav-bar section #content,
body.show-nav-bar section #education-page,
body.show-nav-bar section .sci {
  transform: scale(0);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 30px 50px;
  z-index: 1000;
}

header .logo {
  font-size: 1.5rem;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  transform-origin: left;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 100%;
}

header ul li {
  padding: 8px;
}

header ul li a {
  padding: 16px;
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  text-decoration: none;
}

header ul li a.active {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

header ul li a:hover {
  border: 1px solid var(--primary-color);
}

header .logo_image {
  flex-direction: column;
  gap: 8px;
}

header .logo_image img {
  height: 50px;
}

header .logo span {
  color: #1de5ff;
  border-bottom: 4px solid #1de5ff;
}

#phone-number {
  display: flex;
  justify-content: end;
  gap: 8px;
}

#phone-number i {
  font-size: 1.4rem;
}

header .toggle {
  margin-left: auto;
  position: relative;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}

header .toggle.active .fa-bars {
  display: none;
}

header .toggle .fa-xmark {
  display: none;
}

header .toggle.active .fa-xmark {
  display: inline-block;
}

.main-image {
  /* position: absolute;
  top: 0;
  right: 12%; */
  height: 100%;
}

#right-image {
  height: 100%;
  width: 45%; 
}

#content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: 0.5s;
  transform-origin: left;
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
}

#content .contentBx {
  /* margin-left: auto; */
  /* margin-right: 30px; */
  max-width: 700px;
  padding: 16px 16px;
  z-index: 100;
}

#content .contentBx h4 {
  font-weight: 400;
  font-size: 1.5em;
  letter-spacing: 2px;
  margin-bottom: 10px;  
}

#content .contentBx h2 {
  font-size: 3.5em;
  line-height: 1em;
}

#content .contentBx h3 {
  font-weight: 300;
  font-size: 1.5em;
  line-height: 1.5em;
  margin: 2rem 0 4rem 0;
}

.btn {
  display: inline-block;
  padding: 10px 10px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid var(--primary-color);
  letter-spacing: 2px;
  transition: 0.5s;
  transition: letter-spacing 0.3s ease-in-out;
  overflow: hidden;
  width: 265px;
  border-radius: var(--border-radius);
  text-align: center;
}

#content .contentBx a:last-child {
  color: rgb(239, 237, 227 );
  background-color: var(--primary-color);
  margin-left: auto;
}

#content .contentBx a:hover {
  /* box-shadow: 0 0 15px var(--primary-color), 0 0 40px var(--primary-color), 0 0 40px var(--primary-color) inset; */
  letter-spacing: 4px;
}

@keyframes space {
  from {
    letter-spacing: normal;
  }
  to {
    letter-spacing: 5px;
  }
}

#content #quotation {
  font-style: italic;
  font-family: none;
  font-weight: 300;
  font-size: 1.3em;
  margin: 10px 0 20px;
}

.sci {
  position: absolute;
  bottom: 40px;
  right: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  z-index: 2;
  transition: 0.5s;
  transform-origin: left;
}

.sci li {
  list-style: none;
  width: 50px;
  height: 50px;
}

.sci li a {
  text-decoration: none;
  display: inline-block;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  font-size: 1.5em;
}

.sci li a:hover {
  background-color: var(--primary-color);
  color: #21283a;
}

.menu {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  padding-left: 100px;
}

.menu li { list-style: none; }
.menu li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
  padding: 5px 10px;
  margin: 5px 0;
  display: inline-block;
  transition: 0.5s;
}

.menu li:hover a {
  background-color: #fff;
  letter-spacing: 3px;
  color: #161a23;
}

section.active .menu {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.flex {
  display: flex;
}

.for-mobile {
  display: none;
}

.text-right {
  text-align: right;
}

.ml-auto {
  margin-left: auto;
}

.width-55 {
  width: 55%;
}

.primary-color {
  color: var(--primary-color) !important;
}

.secondary-color {
  color: var(--secondary-color) !important;
}