#education-page {
  /* height: 100%; */
  width: 100%;
  display: flex;
  margin-top: 160px;
  position: relative;
  z-index: 1;
  transition: 0.5s;
  transform-origin: left;
  margin-bottom: 24px;
}
