#education-page {
  /* height: 100%; */
  width: 100%;
  display: flex;
  margin-top: 140px;
  position: relative;
  z-index: 1;
  transition: 0.5s;
  transform-origin: left;
  overflow: hidden;
}

.education-content {
  width: 50%;
  padding: 0px 16px 0px 16px;
  background-color: var(--secondary-color);
  overflow: auto;
}

.education-content .btn {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.education-content:first-child {
  /* background-color: var(--primary-color); */
}

.education-item {
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  border-radius: var(--border-radius);
  display: flex;
  padding: 16px;
  margin-bottom: 16px;
}

.education-content .btn { margin-bottom: 16px;}
