@media (max-width: 991px) {
  * {
    /* color: var(--secondary-color); */
  }

  .for-laptop {
    display: none;
  }

  .for-mobile {
    display: flex;
  }

  section {
    height: 100dvh;
    width: 100dvw;
    background-color: var(--secondary-color);
  }

  section.index-page {
    background-color: rgb(98,64,44);
    background-image: linear-gradient(90deg, rgba(98,64,44,1), rgba(41,31,20,1) 40%);
  }

  section.index-page * {
    color: var(--secondary-color);
  }

  section.index-page:before {
    content: '';
    /* max-width: none;
    background-size: auto 95%;
    background-position: center bottom; */

    background-repeat: no-repeat;
    background-position: right -15px bottom;
    background-size: auto 60%;
    background-image: url("../images/main-image.png");
    
    position: absolute;
    
    height: 100%;
    width: 100%;
  }

  #content {
    padding: 16px;
    text-align: left;
  }

  .contentBx {
    width: 100%;
  }

  .invert {
    filter: invert(100%);
  }

  header {
    padding: 20px 20px;
  }

  header ul {
    width: 100% !important;
    height: 100vh;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
  }

  header { 
    height: 140px;
    transition: 0.5s;
  }

  body.show-nav-bar header:nth-child(2) {
    height: 100%;
  }

  header ul li { margin: 0 !important; }

  header ul li:first-child {
    display: none;
  }
  
  header ul li a, header ul li a.active {
    font-size: 1.4rem;
    color: var(--primary-color);
    background-color: transparent;
    border: 0;
  }
  
  header .toggle {
    position: absolute;
    right: 24px;
    top: 24px
  }

  header .toggle i { color: var(--primary-color); }

  body.show-nav-bar header ul {
    visibility: visible;
    opacity: 1;
  }

  body.show-nav-bar header ul:before {
    box-shadow: 0 0 0 1200px var(--secondary-color);
    position: absolute;
    content: '';
    z-index: -1;
    opacity: 0.7;
  }

  .main-image {
    right: 0px;
    opacity: 0.3;
  }

  #content {
    width: 100%;
    align-items: start;
    padding-top: 110px;
  }

  #content .contentBx a {
    margin-bottom: 10px;
    padding: 6px 12px;
  }
  
  #content .contentBx h2 {
    font-size: 2.2em;
    max-width: 300px;
    /* text-shadow: 1px 0px 5px rgba(239, 237, 227, 0.7), -1px 0px 2px rgba(239, 237, 227, 0.7); */
    /* text-shadow: 0.1px 0px 2px rgba(239, 237, 227, 0.7), -0.1px 0px 1px rgba(239, 237, 227, 0.7); */
  }
  
  #content .contentBx h3 {
    font-size: 1.2em;
    margin-top: 70px;
    max-width: 200px;
  }

  .menu {
    padding-left: 0;
    align-items: center;
  }

  #consultation-btn {
    position: absolute;
    bottom: 30px;
    background-color: var(--secondary-color);
    color: var(--primary-color)
  }
  
  #education-page {
    flex-direction: column;
    overflow: auto !important;
  }

  .education-content{
    width: 100% !important;
    padding-top: 0 !important;
    overflow: unset !important;
  }
  
  #contacts-page {
    min-height: auto !important;
    overflow: auto !important;
    width: 100% !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
  }

  #google-map {
    width: 100% !important;
    min-height: 250px;
  }
  
  #contacts {
    flex-direction: column;
  }

  #cherkassy-panorama {
    margin-bottom: 16px !important;
  }
}
