@media (max-width: 991px) {
  * {
    color: var(--secondary-color);
  }

  .for-laptop {
    display: none;
  }

  .for-mobile {
    display: flex;
  }

  section {
    height: 100dvh;
    width: 100dvw;
    background-color: rgb(98,64,44);
    background-image: linear-gradient(90deg, rgba(98,64,44,1), rgba(41,31,20,1) 40%);
  }

  section:before {
    content: '';
    /* max-width: none;
    background-size: auto 95%;
    background-position: center bottom; */

    background-repeat: no-repeat;
    background-position: right -15px bottom;
    background-size: auto 60%;
    background-image: url("../images/main-image.png");
    
    position: absolute;
    
    height: 100%;
    width: 100%;
  }

  #content {
    padding: 16px;
    text-align: left;
  }

  .contentBx {
    width: 100%;
  }

  .logo_image img {
    filter: invert(100%);
  }

  header {
    padding: 20px 20px;
  }

  .main-image {
    right: 0px;
    opacity: 0.3;
  }

  #content {
    width: 100%;
    align-items: start;
    padding-top: 110px;
  }

  #content .contentBx a {
    margin-bottom: 10px;
    padding: 6px 12px;
  }
  
  #content .contentBx h2 {
    font-size: 2.2em;
    max-width: 300px;
    /* text-shadow: 1px 0px 5px rgba(239, 237, 227, 0.7), -1px 0px 2px rgba(239, 237, 227, 0.7); */
    /* text-shadow: 0.1px 0px 2px rgba(239, 237, 227, 0.7), -0.1px 0px 1px rgba(239, 237, 227, 0.7); */
  }
  
  #content .contentBx h3 {
    font-size: 1.2em;
    margin-top: 70px;
    max-width: 200px;
  }

  .menu {
    padding-left: 0;
    align-items: center;
  }

  #consultation-btn {
    position: absolute;
    bottom: 30px;
    background-color: var(--secondary-color);
    color: var(--primary-color)
  }
}
